name: myjanji_v2
description: MyJanji Demo Prototype - High-fidelity UI/UX design
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.1.0
  animate_do: ^3.3.4
  pdf: ^3.11.1
  printing: ^5.13.3
  qr_flutter: ^4.1.0
  image_picker: ^1.0.7
  http: ^1.1.0
  camera: ^0.10.5+5
  path_provider: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/

